name: Build and Deploy to GitHub Pages on Push

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@main

      - name: Build and Deploy
        uses: MiguelLedesmaC/Translator@main
        env:
          ACCESS_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          SECRET_KEY_TRANSLATOR: ${{secrets.SECRET_KEY_TRANSLATOR}}
          BRANCH: gh-pages
          BUILD_SCRIPT: yarn && yarn run build
      
      
